.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 2rem;
  margin-left: 7%;
  background-color: #ffd7d7;
  width: 80%;
  height: 19rem;
  border-radius: 20px;
}

.home-container h3 {
  width: 100%;
  display: none;
}

.home-container img {
  border-radius: 25px;
  height: 5rem;
  width: 5rem;
  background-position: cover;
  margin-bottom: 1rem;
}

.poster-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  /* img{
    height: 5rem;
    width: 5rem;
    background-position: cover;
  }*/
}

#create-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 2rem;
  margin-top: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #a5a6aa;
          box-shadow: 5px 5px 15px 5px #a5a6aa;
  background-color: #ffd7d7;
  cursor: pointer;
  list-style: none;
}

#create-post:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*#post{
    margin-top:1rem;
    width: 17rem;
    border: #a5a6aa 1px solid;
    box-shadow:2px 2px 8px 2px $Third;
}
*/
#change-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 12rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #a5a6aa;
          box-shadow: 5px 5px 15px 5px #a5a6aa;
  background-color: #ffd7d7;
  cursor: pointer;
  list-style: none;
}

#change-profil:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1rem 0;
  height: auto;
}

.account-container img {
  height: 5rem;
  width: 5rem;
  background-position: cover;
}

.account-container form {
  margin-top: 2rem;
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
}

.post-container .post-container {
  margin: 2rem;
  padding: 1rem;
  background-color: #ffd7d7;
  border: 1px solid #a5a6aa;
}
/*# sourceMappingURL=home.css.map */