$Primary: #fd2d01;
$Primary-light: #ffd7d7;
$Secondary: #ffd7d7;
$Third: #a5a6aa;

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  padding-left: 2rem;
  margin-left: 7%;

  background-color: #ffd7d7;
  width: 80%;
  height: 19rem;
  border-radius: 20px;
  h3 {
    width: 100%;
    display:none
  }
  img {
    border-radius: 25px;
    height: 5rem;
    width: 5rem;
    background-position: cover;
    margin-bottom: 1rem;
  }
}

.poster-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  height: auto;
  width: 100%;
 /* img{
    height: 5rem;
    width: 5rem;
    background-position: cover;
  }*/
}
#create-post {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 2rem;
  margin-top: 1.5rem;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px $Third;
  background-color: $Secondary;
  cursor: pointer;
  list-style: none;

  &:hover {
 
    transform: scale(1.1);
  }
}
/*#post{
    margin-top:1rem;
    width: 17rem;
    border: #a5a6aa 1px solid;
    box-shadow:2px 2px 8px 2px $Third;
}
*/
#change-profil{
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: none;
    width: 12rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px $Third;
    background-color: $Secondary;
    cursor: pointer;
    list-style: none;

   
    &:hover {
   
      transform: scale(1.1);
    }
  }
  
  

  .account-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    height: auto;
    img{
    height: 5rem;
    width: 5rem;
    background-position: cover;
    
    }
   form{
      margin-top: 2rem;
    }
  }

  .post-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    width: 80%;
    margin-left: 10%;
    
    border-radius: 20px;
    
    .post-container{
      margin: 2rem;
      padding: 1rem;
      background-color: $Primary-light;
      border: 1px solid $Third
    }
   
    
  }