body {
  background-color: white;
}

.log-container {
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: auto;
  border-radius: 20px;
  padding: 1rem;
  border: #FD2D01 2px solid;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
  gap: 1rem;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connexion-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
}

.active-btn {
  background: white;
  border: #4E5166 1px solid;
  -webkit-box-shadow: 2px 2px 8px 2px #4E5166;
          box-shadow: 2px 2px 8px 2px #4E5166;
}

li:not(.active-btn):hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: #4E5166;
  -webkit-box-shadow: 2px 2px 8px 2px #4E5166;
          box-shadow: 2px 2px 8px 2px #4E5166;
}

input {
  background: white;
  height: 2rem;
  width: 100%;
  border-radius: 20px;
  border: #4E5166 2px solid;
}

input[type="submit"] {
  margin-right: 14px;
  height: 2.5rem;
  width: 12.5rem;
  border: #4E5166 1px solid;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px 2px #4E5166;
          box-shadow: 2px 2px 8px 2px #4E5166;
}

input[type="submit"]:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .log-container {
    width: 50%;
  }
  #image-post2 {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 50rem;
    max-height: 50rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=login.css.map */