$Primary: #FD2D01;
$Primary-light:#FFD7D7;
$Secondary: #FFD7D7;
$Third: #a5a6aa;

*{margin: 0px;
}

.nav-container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,45,1,1) 31%, rgba(160,107,95,1) 93%, rgba(165,166,170,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    margin-bottom: 3rem;
    padding:2rem 0rem 2rem 0rem;
    
    
   
   
    .logo{
        height: 10rem;
        display: flex;
        justify-content: center;
        align-self: center;
        padding-left: 3%;
    }
}
.logout-icon{
    color: #FFD7D7;
    width: 2rem;
    height: 1.5rem;
   // margin-top: -30px ;
    
    
}
#profil-icon{
    color: #FFD7D7;
    width: 2rem;
    height: 1.5rem;
    
}

.account-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    background-color: #FFD7D7;
    width:60%;
    height: 15rem;
    border-radius: 20px;
    border: $Third 1px solid;



   .image-container{
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    img{
        border-radius: 25px;
        

    }
    
   }
  
}

#showProfil{
    display: flex;
    justify-content: center;
    align-items: center;

    width:7rem;
    height: 2rem;
    margin-top: 3rem;
    border-radius: 20px;
    background-color: #FFD7D7;
    cursor: pointer;
    list-style: none;
    box-shadow: 5px 5px 15px 5px $Third;


    &:hover{
     
        transform: scale(1.1);
       
    }
    


}


